* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.order-first {
    order: -1;
}

.order-end {
    order: 12;
}

.col-1 {
    padding: 0 15px;
    width: 8.33%;
}

.col-2 {
    padding: 0 15px;
    width: 16.666%;
}

.col-3 {
    padding: 0 15px;
    width: 25%;
}

.col-4 {
    padding: 0 15px;
    width: 33.333%;
}

.col-5 {
    padding: 0 15px;
    width: 41.666%;
}

.col-6 {
    padding: 0 15px;
    width: 50%;
}

.col-7 {
    padding: 0 15px;
    width: 58.333%;
}

.col-8 {
    padding: 0 15px;
    width: 66.666%;
}

.col-9 {
    padding: 0 15px;
    width: 75%;
}

.col-10 {
    padding: 0 15px;
    width: 83.33%;
}

.col-11 {
    padding: 0 15px;
    width: 91.666%;
}

.col-12 {
    padding: 0 15px;
    width: 100%;
}

@media (min-width: 576px){
    .container {
        width: 540px;
    }

    .col-sm-1 {
    width: 8.33%;
    }

    .col-sm-2 {
        width: 16.666%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.333%;
    }

    .col-sm-5 {
        width: 41.666%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.333%;
    }

    .col-sm-8 {
        width: 66.666%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.666%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width: 768px){
    .container {
        width: 720px;
    }

    .col-md-1 {
    width: 8.33%;
    }

    .col-md-2 {
        width: 16.666%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.333%;
    }

    .col-md-5 {
        width: 41.666%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.333%;
    }

    .col-md-8 {
        width: 66.666%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.666%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }

    .col-lg-1 {
    width: 8.33%;
    }

    .col-lg-2 {
        width: 16.666%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.333%;
    }

    .col-lg-5 {
        width: 41.666%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.333%;
    }

    .col-lg-8 {
        width: 66.666%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.666%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }

    .col-xl-1 {
    width: 8.33%;
    }

    .col-xl-2 {
        width: 16.666%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.333%;
    }

    .col-xl-5 {
        width: 41.666%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-7 {
        width: 58.333%;
    }

    .col-xl-8 {
        width: 66.666%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-10 {
        width: 83.33%;
    }

    .col-xl-11 {
        width: 91.666%;
    }

    .col-xl-12 {
        width: 100%;
    }
}